playbook-Cortex_XDR_-_XCloud_Token_Theft_Response.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.8.0
    itemVersion: 1.0.30
    packID: CloudIncidentResponse
    packName: Cloud Incident Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  ---

  ## Cloud Token Theft Response Playbook

  The **Cloud Token Theft Response Playbook** provides a structured and comprehensive flow to effectively respond to and mitigate alerts involving the theft of cloud tokens. The playbook supports AWS, GCP, and Azure and executes the following:

  **Cloud Enrichment:**
  - Enriches the involved resources.
  - Enriches the involved identities.
  - Enriches the involved IPs.

  **Verdict Decision Tree:**
  - Determines the appropriate verdict based on the investigation findings.

  **Early Containment using the Cloud Response - Generic Playbook:**
  - Implements early containment measures to prevent further impact.

  **Cloud Persistence Threat Hunting:**
  - Conducts threat hunting activities to identify any cloud persistence techniques.

  **Enriching and Responding to Hunting Findings:**
  - Performs additional enrichment and responds to the findings from threat hunting.

  **Verdict Handling:**
  - Handles false positives identified during the investigation.
  - Handles true positives by initiating appropriate response actions.

  ---
id: Cortex XDR - XCloud Token Theft Response
inputs:
- description: The alert ID.
  key: alert_id
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: investigationId
      root: alert
- description: A comma-separated list of internal IP ranges to check IP addresses
    against. The list should be provided in CIDR notation.
  key: InternalRange
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: PrivateIPs
      root: lists
      transformers:
      - args:
          error_if_no_match: {}
          ignore_case: {}
          multi_line: {}
          period_matches_newline: {}
          regex:
            value:
              simple: (\b(?:\d{1,3}\.){3}\d{1,3}\b/\d{1,2})
          unpack_matches: {}
        operator: RegexExtractAll
      - args:
          separator:
            value:
              simple: ','
        operator: join
- description: Determines whether to convert the IP address to a hostname using a
    DNS query (True/ False).
  key: ResolveIP
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Whether to execute early containment.
    This action allows you to respond rapidly but have higher probability for false positives.
  key: earlyContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    This input can process two types of data:
    1. A comma-separated list of internal IPs assigned by the VPN provider using a XSIAM list or an hardcoded array.
    2. A link to an IP list which will be processed and extract the IP dynamically which each execution.

    For CIDRs, use the InternalRange input.
  key: VPNIPList
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to execute the resource remediation automatically.
  key: autoResourceRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to execute the access key remediation automatically.
  key: autoAccessKeyRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to execute the user remediation automatically.
  key: autoUserRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to execute the indicators remediation automatically.
  key: autoBlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    The response playbook provides the following remediation actions using AWS, MSGraph Users, GCP and GSuite Admin:

    Reset: By entering "Reset" in the input, the playbook will execute password reset.
    Supports: AWS, MSGraph Users, GCP and GSuite Admin.

    Revoke: By entering "Revoke" in the input, the GCP will revoke the access key, GSuite Admin will revoke the access token and the MSGraph Users will revoke the session.
    Supports: GCP, GSuite Admin and MSGraph Users.

    Deactivate - By entering "Deactivate" in the input, the playbook will execute access key deactivation.
    Supports: AWS.

    ALL: By entering "ALL" in the input, the playbook will execute the all remediation actions provided for each CSP.
  key: credentialsRemediationType
  playbookInputQuery: null
  required: false
  value:
    simple: Reset
- description: |-
    Whether to clone the compromised SA before putting a deny policy to it.
    Supports: AWS.
    True/False
  key: shouldCloneSA
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The new role name to assign in the clone service account flow.
  key: AWS-newRoleName
  playbookInputQuery: null
  required: false
  value: {}
- description: The new instance profile name to assign in the clone service account
    flow.
  key: AWS-newInstanceProfileName
  playbookInputQuery: null
  required: false
  value: {}
- description: If provided, the role will be attached with a deny policy without the
    compute instance analysis flow.
  key: AWS-roleNameToRestrict
  playbookInputQuery: null
  required: false
  value: {}
name: Cortex XDR - XCloud Token Theft Response
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7c995b30-f3e5-4496-832f-fbc380441190
      iscommand: false
      name: ""
      version: -1
    taskid: 7c995b30-f3e5-4496-832f-fbc380441190
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -230,
          "y": -1380
        }
      }
  "1":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: ASN
      output:
        simple: ${PaloAltoNetworksXDR.OriginalAlert.event.caller_ip_asn}
    - incidentfield: ASN Name
      output:
        simple: ${PaloAltoNetworksXDR.OriginalAlert.event.caller_ip_asn_org}
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      alert_ids:
        complex:
          accessor: alertid
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: incident.xdralerts.name
              operator: inList
              right:
                value:
                  simple: Suspicious usage of EC2 token, Suspicious usage of VM Service
                    Account token, Suspicious usage of AWS Lambda’s token, Suspicious
                    usage of AWS Lambda’s role, Remote usage of an AWS service token,
                    Remote usage of an AWS EKS token, Suspicious usage of an AWS EKS
                    token, Suspicious usage of an AWS ECS token, Remote usage of an
                    AWS ECS token, Suspicious usage of AWS service token, Remote usage
                    of an App engine Service Account token, Suspicious usage of App
                    engine Service Account token, Remote usage of VM Service Account
                    token, Suspicious usage of VM Service Account token, Remote usage
                    of an App engine Service Account token, Suspicious usage of App
                    engine Service Account token
          root: incident.xdralerts
      filter_alert_fields:
        simple: "false"
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns information about each alert ID.
      id: 68f23ebd-334f-47c3-858d-32cf6ee802ca
      iscommand: true
      name: Fetch alert extra data
      script: '|||xdr-get-cloud-original-alerts'
      type: regular
      version: -1
    taskid: 68f23ebd-334f-47c3-858d-32cf6ee802ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": -1250
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c3da330a-98cc-4a24-8440-7eca8182a113
      iscommand: false
      name: Check VPN
      type: title
      version: -1
    taskid: c3da330a-98cc-4a24-8440-7eca8182a113
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": -1080
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      cloudProvider:
        complex:
          accessor: cloudprovider
          root: incident.xdralerts
          transformers:
          - operator: uniq
      username:
        complex:
          accessor: username
          root: incident.xdralerts
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |2-

        ## Generic Cloud Enrichment Playbook

        The **Cloud Enrichment - Generic Playbook** is designed to unify all the relevant playbooks concerning the enrichment of information in the cloud. It provides a standardized approach to enriching information in cloud environments.

        ### Supported Blocks

        1. **Cloud IAM Enrichment - Generic**
           - Enriches information related to Identity and Access Management (IAM) in the cloud.

        2. **Cloud Compute Enrichment - Generic**
           - Enriches information related to cloud compute resources.

        The playbook supports a single CSP enrichment at a time.
      id: b989322c-a5b7-419a-834a-b4b7220018fc
      iscommand: false
      name: Cloud Enrichment - Generic
      playbookId: Cloud Enrichment - Generic
      type: playbook
      version: -1
    taskid: b989322c-a5b7-419a-834a-b4b7220018fc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -640,
          "y": 220
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6ff14f4f-ff2e-4fe0-80b5-fbacf492d5c3
      iscommand: false
      name: Threat Hunting
      type: title
      version: -1
    taskid: 6ff14f4f-ff2e-4fe0-80b5-fbacf492d5c3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1570
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ebc71199-7f11-4ac4-8b8f-bd9a3977f3f6
      iscommand: false
      name: Analysis
      type: title
      version: -1
    taskid: ebc71199-7f11-4ac4-8b8f-bd9a3977f3f6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 390
        }
      }
  "8":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: alertVerdict
          operator: isEqualString
          right:
            value:
              simple: Malicious
      label: Malicious
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "49"
      Malicious:
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks which verdict was received by the Cloud Token Theft - Set
        Verdict playbook.
      id: 258b5261-54ce-4175-898e-49f06934fa4b
      iscommand: false
      name: Check verdict resolution
      type: condition
      version: -1
    taskid: 258b5261-54ce-4175-898e-49f06934fa4b
    timertriggers:
    - action: stop
      fieldname: triagesla
    type: condition
    view: |-
      {
        "position": {
          "x": -230,
          "y": 690
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      AWS-userRemediationType:
        simple: Revoke
      Azure-userRemediationType:
        simple: Disable
      GCP-accessKeyRemediationType:
        simple: Disable
      GCP-userRemediationType:
        simple: Disable
      autoAccessKeyRemediation:
        complex:
          root: inputs.autoAccessKeyRemediation
      autoBlockIndicators:
        complex:
          root: inputs.autoBlockIndicators
      autoResourceRemediation:
        complex:
          root: inputs.autoResourceRemediation
      autoUserRemediation:
        complex:
          root: inputs.autoUserRemediation
      cloudProvider:
        complex:
          accessor: cloudprovider
          root: incident.xdralerts
          transformers:
          - operator: uniq
      username:
        complex:
          accessor: username
          root: incident.xdralerts
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook provides response playbooks for:
        - AWS
        - Azure
        - GCP

        The response actions available are:
        - Terminate/Shut down/Power off an instance.
        - Delete/Disable a user.
        - Delete/Revoke/Disable credentials.
        - Block indicators
      id: e8e43851-9d56-4d01-8fb9-0403519aecec
      iscommand: false
      name: Cloud Response - Generic
      playbookId: Cloud Response - Generic
      type: playbook
      version: -1
    taskid: e8e43851-9d56-4d01-8fb9-0403519aecec
    timertriggers:
    - action: pause
      fieldname: containmentsla
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1370
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b24a7b45-f6e0-4081-8d77-da872f2c1d66
      iscommand: false
      name: Early Containment
      type: title
      version: -1
    taskid: b24a7b45-f6e0-4081-8d77-da872f2c1d66
    timertriggers:
    - action: start
      fieldname: containmentsla
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1220
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This script will extract indicators from the given AWS CloudTrail,
        GCP Logging, or Azure Log Analytics event data.
      id: 5116b858-f35c-4532-8d79-34fa42f33317
      iscommand: false
      name: Enrich IoCs
      type: title
      version: -1
    taskid: 5116b858-f35c-4532-8d79-34fa42f33317
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1890
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 18869c45-ac1e-4c49-8069-907603000fb2
      iscommand: false
      name: Containment
      type: title
      version: -1
    taskid: 18869c45-ac1e-4c49-8069-907603000fb2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 2450
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Indicator
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Score
                    operator: greaterThanOrEqual
                    right:
                      value:
                        simple: "2"
                root: DBotScore
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              complex:
                root: AWSQuery
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: GCPQuery
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: AzureQuery
                  operator: append
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if one of the extracted indicators is suspicious or malicious,
        or if there are any results from the Cloud Threat Hunting - Persistence playbook.
      id: f9057961-2c94-4cf2-8dc2-e39faa217c59
      iscommand: false
      name: Persistence activity or suspicious IoCs found?
      type: condition
      version: -1
    taskid: f9057961-2c94-4cf2-8dc2-e39faa217c59
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2220
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0cd67bd7-0167-4cd5-8ab4-7334b89cfc95
      iscommand: false
      name: Manual invetigation
      type: title
      version: -1
    taskid: 0cd67bd7-0167-4cd5-8ab4-7334b89cfc95
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2450
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: You should investigate the data collected manually and choose how
        the playbook should continue.
      id: 62e1dca7-e5b4-4514-8044-b487db46bd6c
      iscommand: false
      name: Investigate the data collected
      type: regular
      version: -1
    taskid: 62e1dca7-e5b4-4514-8044-b487db46bd6c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2585
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "Yes":
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to contain the threats found.
      id: ae06dcd7-e93a-4126-88e0-afad189dc889
      iscommand: false
      name: Should contain the threats?
      type: condition
      version: -1
    taskid: ae06dcd7-e93a-4126-88e0-afad189dc889
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2750
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b4dcc788-ab52-4be8-80d0-08abb1e73d3a
      iscommand: false
      name: Eradication
      type: title
      version: -1
    taskid: b4dcc788-ab52-4be8-80d0-08abb1e73d3a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3100
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      AWS-accessKeyRemediationType:
        simple: Delete
      AWS-resourceRemediationType:
        simple: Terminate
      AWS-userRemediationType:
        simple: Delete
      Azure-resourceRemediationType:
        simple: Delete
      Azure-userRemediationType:
        simple: Delete
      GCP-accessKeyRemediationType:
        simple: Delete
      GCP-resourceRemediationType:
        simple: Delete
      GCP-userRemediationType:
        simple: Delete
      accessKeyId:
        complex:
          accessor: access_key_id
          root: CloudIndicators
      autoAccessKeyRemediation:
        simple: "False"
      autoBlockIndicators:
        simple: "False"
      autoResourceRemediation:
        simple: "False"
      autoUserRemediation:
        simple: "False"
      cloudProvider:
        complex:
          accessor: cloudprovider
          root: incident.xdralerts
          transformers:
          - operator: uniq
      region:
        complex:
          accessor: region
          root: Core.OriginalAlert.event
      resourceName:
        complex:
          accessor: resource_name
          root: CloudIndicators
      username:
        complex:
          accessor: username
          root: CloudIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook provides response playbooks for:
        - AWS
        - Azure
        - GCP

        The response actions available are:
        - Terminate/Shut down/Power off an instance.
        - Delete/Disable a user.
        - Delete/Revoke/Disable credentials.
        - Block indicators.
      id: e3fafcf7-3d5d-47bc-8059-a9f8337ea358
      iscommand: false
      name: Cloud Response - Generic
      playbookId: Cloud Response - Generic
      type: playbook
      version: -1
    taskid: e3fafcf7-3d5d-47bc-8059-a9f8337ea358
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3410
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "37"
      "Yes":
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to eradicate the threats. This playbook should be treated
        with care as its actions are irreversible.
      id: a53b6b07-5ceb-4e3c-8cc7-6714f66cf15a
      iscommand: false
      name: Should eradicate the threats?
      type: condition
      version: -1
    taskid: a53b6b07-5ceb-4e3c-8cc7-6714f66cf15a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3230
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ad8fb161-f9ea-463b-831f-37742872c592
      iscommand: false
      name: Resolution
      type: title
      version: -1
    taskid: ad8fb161-f9ea-463b-831f-37742872c592
    timertriggers:
    - action: stop
      fieldname: containmentsla
    type: title
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3580
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "40"
      "Yes":
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to continue with the investigation manually or close the
        alert.
      id: 8564c719-44a0-49c3-878a-799670c7aa44
      iscommand: false
      name: Is manual investigation required to complete the resolution process?
      type: condition
      version: -1
    taskid: 8564c719-44a0-49c3-878a-799670c7aa44
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3710
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Continue to investigate manually.
      id: fc3876ba-e3b4-4cfe-8ebf-5abbe773bc95
      iscommand: false
      name: Investigate further
      type: regular
      version: -1
    taskid: fc3876ba-e3b4-4cfe-8ebf-5abbe773bc95
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3880
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: True Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: a644f393-2a73-4636-87ff-268d5749c0a9
      iscommand: true
      name: Resolve the alert
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: a644f393-2a73-4636-87ff-268d5749c0a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 4050
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 96dc1d91-027c-42df-8583-147db90ef748
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 96dc1d91-027c-42df-8583-147db90ef748
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 4220
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      fromDate:
        complex:
          accessor: occurred
          root: incident
          transformers:
          - args:
              variation:
                value:
                  simple: 2 hours ago
            operator: ModifyDateTime
      sourceIP:
        complex:
          accessor: hostip
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: incident.xdralerts.alert_id
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: inputs.alert_id
          root: incident.xdralerts
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ---

        ## Cloud Token Theft  - Set Verdict Playbook

        The playbook is built from a decision tree whose ultimate goal is to decide whether the observed activity is malicious.

        ### Event Search

        The playbook searches for events based on the attacker's IP address within the last two hours.

        ### Tests Performed

        The following tests are performed on the observed activity:

        1. **Malicious IP Check**: Determines if the IP address is malicious.
        2. **CSP ASN Check**: Checks if the activity was performed from an Autonomous System Number (ASN) belonging to one of the Cloud Service Providers (CSPs).
        3. **IP and ASN History Check**: Verifies if the IP address and ASN have been previously observed.
        4. **Region Check**: Determines if the API call was made from outside the recognized region.
        5. **Anomalous State Check**: Checks if the API call was made from an anomalous state.
        6. **Alert Check**: Looks for any related alerts around the event, including:
           - Possible cloud instance metadata service (IMDS) abuse.
           - Impossible Traveler by cloud identity.

        ---
      id: 5f62213f-792b-48f0-8634-5ff19c956128
      iscommand: false
      name: Cortex XDR - XCloud Token Theft - Set Verdict
      playbookId: Cortex XDR - XCloud Token Theft - Set Verdict
      type: playbook
      version: -1
    taskid: 5f62213f-792b-48f0-8634-5ff19c956128
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -230,
          "y": 525
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          accessor: host_ip
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.alert_id
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: inputs.alert_id
          root: PaloAltoNetworksXDR.Incident.alerts
          transformers:
          - operator: uniq
      InternalRange:
        complex:
          root: inputs.InternalRange
          transformers:
          - operator: uniq
      ResolveIP:
        complex:
          root: inputs.ResolveIP
      UseReputationCommand:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich IP addresses using one or more integrations.

        - Resolve IP addresses to hostnames (DNS).
        - Provide threat information.
        - Separate internal and external IP addresses.
        - For internal IP addresses, get host information.
      id: c91dd6e8-1997-4356-8956-1da70003f6a6
      iscommand: false
      name: IP Enrichment - Generic v2
      playbookId: IP Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: c91dd6e8-1997-4356-8956-1da70003f6a6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 190,
          "y": 220
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      AWSAccessKeyID:
        complex:
          accessor: accessKeyId
          root: PaloAltoNetworksXDR.OriginalAlert.event.identity_orig
      AWSTimespan:
        complex:
          accessor: occurred
          root: incident
          transformers:
          - args:
              variation:
                value:
                  simple: 2 hours ago
            operator: ModifyDateTime
          - args:
              delimiter:
                value:
                  simple: +
              fields:
                value:
                  simple: "1"
            operator: Cut
      AzureTimespan:
        simple: 2h
      GCPProjectName:
        complex:
          accessor: project
          root: PaloAltoNetworksXDR.OriginalAlert.event
      GCPTimespan:
        complex:
          accessor: occurred
          root: incident
          transformers:
          - args:
              variation:
                value:
                  simple: 2 hours ago
            operator: ModifyDateTime
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Z
              toReplace:
                value:
                  simple: "+00:00"
            operator: replace
      cloudProvider:
        complex:
          accessor: cloudprovider
          root: incident.xdralerts
          transformers:
          - operator: uniq
      region:
        complex:
          accessor: region
          root: PaloAltoNetworksXDR.OriginalAlert.event
          transformers:
          - operator: uniq
      username:
        complex:
          accessor: username
          root: incident.xdralerts
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ---

        ## Cloud Threat Hunting - Persistence Playbook

        The playbook is responsible for hunting persistence activity in the cloud. It supports AWS, GCP, and Azure.

        ### Hunting Queries

        The playbook executes hunting queries for each provider related to each of the following:

        1. IAM
        2. Compute Resources
        3. Compute Functions

        ### Indicator Extraction

        If relevant events are found during the search, indicators will be extracted using the `ExtractIndicators-CloudLogging` script.

        ---
      id: 7a696e2d-c5ad-468f-8f3d-acc1821178a9
      iscommand: false
      name: Cloud Threat Hunting - Persistence
      playbookId: Cloud Threat Hunting - Persistence
      type: playbook
      version: -1
    taskid: 7a696e2d-c5ad-468f-8f3d-acc1821178a9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1710
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      CVE:
        complex:
          accessor: ID
          root: CVE
      Domain:
        complex:
          accessor: Name
          root: Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          accessor: Email.Address
          root: Account
          transformers:
          - operator: uniq
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: source_ip
          root: CloudIndicators
          transformers:
          - operator: uniq
      MD5:
        complex:
          accessor: MD5
          root: File
          transformers:
          - operator: uniq
      ResolveIP:
        simple: "False"
      SHA1:
        complex:
          accessor: SHA1
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Data
          root: URL
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: username
          root: CloudIndicators
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations.
      id: bf91fff7-ddf2-4d82-834b-ff04fb7855dc
      iscommand: false
      name: Entity Enrichment - Generic v3
      playbookId: Entity Enrichment - Generic v3
      type: playbook
      version: -1
    taskid: bf91fff7-ddf2-4d82-834b-ff04fb7855dc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 660,
          "y": 2050
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      cloudProvider:
        complex:
          accessor: cloudprovider
          root: incident.xdralerts
          transformers:
          - operator: uniq
      instanceName:
        complex:
          accessor: resource_name
          root: CloudIndicators
      username:
        complex:
          accessor: username
          root: CloudIndicators
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |2-

        ## Generic Cloud Enrichment Playbook

        The **Cloud Enrichment - Generic Playbook** is designed to unify all the relevant playbooks concerning the enrichment of information in the cloud. It provides a standardized approach to enriching information in cloud environments.

        ### Supported Blocks

        1. **Cloud IAM Enrichment - Generic**
           - Enriches information related to Identity and Access Management (IAM) in the cloud.

        2. **Cloud Compute Enrichment - Generic**
           - Enriches information related to cloud compute resources.

        The playbook supports a single CSP enrichment at a time.
      id: ee15ff26-c492-40db-81da-fb0628d52216
      iscommand: false
      name: Cloud Enrichment - Generic
      playbookId: Cloud Enrichment - Generic
      type: playbook
      version: -1
    taskid: ee15ff26-c492-40db-81da-fb0628d52216
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 240,
          "y": 2050
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      Malicious:
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: You should investigate the data collected manually and choose how
        the playbook should continue.
      id: 28affdfa-fc9e-450b-8148-ed1f29bfa1f4
      iscommand: false
      name: Investigate and set verdict
      type: condition
      version: -1
    taskid: 28affdfa-fc9e-450b-8148-ed1f29bfa1f4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -230,
          "y": 860
        }
      }
  "50":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.earlyContainment
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to execute early containment and block the IP address and
        respond to the username involved.
      id: c0f0c235-a092-4f49-81d6-642230c1e69a
      iscommand: false
      name: Should execute early containment?
      type: condition
      version: -1
    taskid: c0f0c235-a092-4f49-81d6-642230c1e69a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1030
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      AWS-accessKeyRemediationType:
        simple: Disable
      AWS-resourceRemediationType:
        simple: Stop
      AWS-userRemediationType:
        simple: Revoke
      Azure-resourceRemediationType:
        simple: Poweroff
      Azure-userRemediationType:
        simple: Disable
      GCP-resourceRemediationType:
        simple: Stop
      GCP-userRemediationType:
        simple: Disable
      accessKeyId:
        complex:
          accessor: access_key_id
          root: CloudIndicators
      autoAccessKeyRemediation:
        complex:
          root: inputs.autoAccessKeyRemediation
      autoBlockIndicators:
        complex:
          root: inputs.autoBlockIndicators
      autoResourceRemediation:
        complex:
          root: inputs.autoResourceRemediation
      autoUserRemediation:
        complex:
          root: inputs.autoUserRemediation
      cloudProvider:
        complex:
          accessor: cloudprovider
          root: incident.xdralerts
          transformers:
          - operator: uniq
      username:
        complex:
          accessor: username
          root: CloudIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook provides response playbooks for:
        - AWS
        - Azure
        - GCP

        The response actions available are:
        - Terminate/Shut down/Power off an instance.
        - Delete/Disable a user.
        - Delete/Revoke/Disable credentials.
        - Block indicators.
      id: 7e6cfe98-fc45-421f-83a9-54b233392498
      iscommand: false
      name: Cloud Response - Generic
      playbookId: Cloud Response - Generic
      type: playbook
      version: -1
    taskid: 7e6cfe98-fc45-421f-83a9-54b233392498
    timertriggers:
    - action: start
      fieldname: containmentsla
    type: playbook
    view: |-
      {
        "position": {
          "x": 890,
          "y": 2925
        }
      }
  "52":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.VPNIPList
          operator: startWith
          right:
            value:
              simple: http://
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.VPNIPList
          operator: startWith
          right:
            value:
              simple: https://
      label: URL
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "55"
      URL:
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the provided data is comma separated or an URL.
      id: 3355a9b9-c68a-4851-8dd3-9020c4e35043
      iscommand: false
      name: Check the VPN list type
      type: condition
      version: -1
    taskid: 3355a9b9-c68a-4851-8dd3-9020c4e35043
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -630,
          "y": -780
        }
      }
  "53":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Device External IPs
      output:
        simple: ${http.parsedBlog.indicators}
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      ignore-outputs:
        simple: "false"
      url:
        complex:
          root: inputs.VPNIPList
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This script will extract indicators from a given HTML and will
        handle bad top-level domains to avoid false positives caused by file extensions.
      id: 6d1c856f-4737-4871-8144-a2190b328b79
      iscommand: false
      name: Process the VPN IP list
      script: ParseHTMLIndicators
      type: regular
      version: -1
    taskid: 6d1c856f-4737-4871-8144-a2190b328b79
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -630,
          "y": -600
        }
      }
  "54":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.VPNIPList
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "59"
      "yes":
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if data was provided for the VPNIPList input.
      id: 4d99ecaf-00c7-456c-8a4a-4bbb508f739f
      iscommand: false
      name: Was a VPN list provided?
      type: condition
      version: -1
    taskid: 4d99ecaf-00c7-456c-8a4a-4bbb508f739f
    timertriggers:
    - action: start
      fieldname: triagesla
    type: condition
    view: |-
      {
        "position": {
          "x": -230,
          "y": -950
        }
      }
  "55":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: host_ip
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Incident.alerts.alert_id
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.alert_id
                root: PaloAltoNetworksXDR.Incident.alerts
          operator: in
          right:
            iscontext: true
            value:
              complex:
                root: inputs.VPNIPList
        - left:
            iscontext: true
            value:
              complex:
                accessor: host_ip
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Incident.alerts.alert_id
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.alert_id
                root: PaloAltoNetworksXDR.Incident.alerts
          operator: in
          right:
            iscontext: true
            value:
              simple: VPNIPList
        - left:
            iscontext: true
            value:
              complex:
                accessor: host_ip
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: PaloAltoNetworksXDR.Incident.alerts.alert_id
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.alert_id
                root: PaloAltoNetworksXDR.Incident.alerts
          operator: IsInCidrRanges
          right:
            iscontext: true
            value:
              complex:
                root: inputs.VPNIPList
      label: "yes"
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "59"
      "yes":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the attacker's IP address is part of the VPN IP list.
      id: 032a1d38-1285-47a9-812f-60ed54a62e73
      iscommand: false
      name: 'Is the attacker IP matches a VPN IP? '
      type: condition
      version: -1
    taskid: 032a1d38-1285-47a9-812f-60ed54a62e73
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -630,
          "y": -440
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "Yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Once the attacker's IP address is part of the VPN IP list, the
        analyst will be required to decide whether to continue with the investigation.
      id: 659e9b8b-7fee-4154-8818-0c76ebf9c894
      iscommand: false
      name: Should continue and investigate a known VPN IP address?
      type: condition
      version: -1
    taskid: 659e9b8b-7fee-4154-8818-0c76ebf9c894
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -860,
          "y": -90
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      isvpnipaddress:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: c9552aee-9a61-416d-8217-50159012012d
      iscommand: true
      name: Set Is VPN IP Address to true
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: c9552aee-9a61-416d-8217-50159012012d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -630,
          "y": -260
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      Indicator:
        complex:
          accessor: host_ip
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.alerts.alert_id
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: inputs.alert_id
          root: PaloAltoNetworksXDR.Incident.alerts
      LimitResults:
        simple: "200"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is designed to assist with a security investigation by providing an analysis of indicator relationships. The following information is included:
        - Indicators of compromise (IOCs) related to the investigation.
        - Attack patterns related to the investigation.
        - Campaigns related to the investigation.
        - IOCs associated with the identified campaigns.
        - Reports containing details on the identified campaigns.
      id: d076f779-e719-456f-8162-f3ad783c08cd
      iscommand: false
      name: TIM - Indicator Relationships Analysis
      playbookId: TIM - Indicator Relationships Analysis
      type: playbook
      version: -1
    taskid: d076f779-e719-456f-8162-f3ad783c08cd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -230,
          "y": 220
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
      - "58"
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f404a3f8-a421-44e3-8818-81b83865e654
      iscommand: false
      name: Enrichment
      type: title
      version: -1
    taskid: f404a3f8-a421-44e3-8818-81b83865e654
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 80
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          accessor: xdrincidentid
          root: incident
      resolve_comment:
        simple: Resolved using Cortex XSOAR in incident id ${incident.investigationId}
      status:
        simple: RESOLVED_FALSE_POSITIVE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: 043be677-29be-4c9f-894a-801024ade783
      iscommand: true
      name: Closer XDR incident as False Positive
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: 043be677-29be-4c9f-894a-801024ade783
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -860,
          "y": 2930
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: False Positive
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: eefcea6e-32df-4efe-868a-982db65eaadf
      iscommand: true
      name: Close XSOAR incident as False Positive
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: eefcea6e-32df-4efe-868a-982db65eaadf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -860,
          "y": 3105
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      AWS-accessKeyID:
        complex:
          accessor: accessKeyId
          root: PaloAltoNetworksXDR.OriginalAlert.event.identity_orig
      AWS-instanceID:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: alert.username
              operator: containsGeneral
              right:
                value:
                  simple: i-
          root: alert.username
          transformers:
          - args:
              delimiter:
                value:
                  simple: /
              fields:
                value:
                  simple: "2"
            operator: Cut
      AWS-newInstanceProfileName:
        complex:
          root: inputs.AWS-newInstanceProfileName
      AWS-newRoleName:
        complex:
          root: inputs.AWS-newRoleName
      AWS-roleNameToRestrict:
        complex:
          root: inputs.AWS-roleNameToRestrict
      AWS-userID:
        complex:
          accessor: username
          root: incident
      Azure-AppID:
        complex:
          accessor: appid
          root: PaloAltoNetworksXDR.OriginalAlert.event.identity_orig.claims
      Azure-ObjectID:
        complex:
          accessor: claims
          root: PaloAltoNetworksXDR.OriginalAlert.event.identity_orig
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: http://schemas.microsoft.com/identity/claims/objectidentifier":"\w{8}\-\w{4}\-\w{4}\-\w{4}\-\w{12}
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              from:
                value:
                  simple: http://schemas.microsoft.com/identity/claims/objectidentifier":"
              to:
                value:
                  simple: '"'
            operator: ExtractInbetween
      Azure-userID:
        complex:
          accessor: username
          root: incident
      GCP-SAEmail:
        complex:
          accessor: principalEmail
          root: PaloAltoNetworksXDR.OriginalAlert.event.identity_orig
      GCP-cloudProject:
        complex:
          accessor: project
          root: PaloAltoNetworksXDR.OriginalAlert.event
      GCP-userID:
        complex:
          accessor: username
          root: incident
      GCP-zone:
        complex:
          accessor: zone
          root: PaloAltoNetworksXDR.OriginalAlert.event
      RemediationType:
        complex:
          root: inputs.credentialsRemediationType
      cloudProvider:
        complex:
          accessor: cloud_provider
          root: PaloAltoNetworksXDR.OriginalAlert.event
      identityType:
        complex:
          accessor: type
          root: PaloAltoNetworksXDR.OriginalAlert.event.identity_orig.sessionContext.sessionIssuer
      shouldCloneSA:
        complex:
          root: inputs.shouldCloneSA
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        ## **Cloud Credentials Rotation - Generic**

        This comprehensive playbook combines the remediation steps from AWS, Azure, and GCP sub-playbooks into a single, cohesive guide. Regardless of which Cloud Service Provider (CSP) you're working with, this playbook will direct you to the relevant steps, ensuring swift and effective response.

        The primary objective is to offer an efficient way to address compromised credentials across different cloud platforms. By consolidating the key steps from AWS, Azure, and GCP, it minimizes the time spent searching for platform-specific procedures and accelerates the remediation process, ensuring the highest level of security for your cloud environments.

        ## **Integrations for Each Sub-Playbook**

        In order to seamlessly execute the actions mentioned in each sub-playbook, specific integrations are essential. These integrations facilitate the automated tasks and processes that the playbook carries out. Here are the required integrations for each sub-playbook:

        ### **AWS Sub-Playbook:**
        1. [**AWS - IAM**](https://xsoar.pan.dev/docs/reference/integrations/aws---iam): Used to manage AWS Identity and Access Management.
        2. [**AWS - EC2**](https://xsoar.pan.dev/docs/reference/integrations/aws---ec2): Essential for managing Amazon Elastic Compute Cloud (EC2) instances.

        ### **GCP Sub-Playbook:**
        1. [**Google Workspace Admin**](https://xsoar.pan.dev/docs/reference/integrations/g-suite-admin): Manages users, groups, and other entities within Google Workspace.
        2. [**GCP-IAM**](https://xsoar.pan.dev/docs/reference/integrations/gcp-iam): Ensures management and control of GCP's Identity and Access Management.

        ### **Azure Sub-Playbook:**
        1. [**Microsoft Graph Users**](https://xsoar.pan.dev/docs/reference/integrations/microsoft-graph-user): Manages users and related entities in Microsoft Graph.
        2. [**Microsoft Graph Applications**](https://xsoar.pan.dev/docs/reference/integrations/microsoft-graph-applications): Manages applications within Microsoft Graph.
      id: 79eb65d2-1cd8-4e44-86cc-4355db4ddb08
      iscommand: false
      name: Cloud Credentials Rotation - Generic
      playbookId: Cloud Credentials Rotation - Generic
      type: playbook
      version: -1
    taskid: 79eb65d2-1cd8-4e44-86cc-4355db4ddb08
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 20,
          "y": 1370
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "19_15_yes": 0.65,
      "19_20_#default#": 0.48,
      "23_51_Yes": 0.61,
      "36_35_Yes": 0.41,
      "36_37_#default#": 0.8,
      "38_39_Yes": 0.42,
      "49_61_#default#": 0.1,
      "50_5_#default#": 0.47,
      "54_59_#default#": 0.11,
      "55_57_yes": 0.43,
      "55_59_#default#": 0.21,
      "56_61_#default#": 0.14,
      "8_49_#default#": 0.48,
      "8_50_Malicious": 0.63
    },
    "paper": {
      "dimensions": {
        "height": 5665,
        "width": 2130,
        "x": -860,
        "y": -1380
      }
    }
  }
