playbook-Okta_-_User_Investigation.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 3.3.35
    packID: Okta
    packName: Okta
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook performs an investigation on a specific user, using queries
  and logs from Okta.
id: Okta - User Investigation
inputs:
- description: The user email to search Okta logs.
  key: UserEmail
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The Country code from which the user logged in.
    Country Code Alpha 2 (Example: US)
  key: LoginCountry
  playbookInputQuery: null
  required: false
  value: {}
- description: The ASN from which the user logged in.
  key: ASN
  playbookInputQuery: null
  required: false
  value: {}
name: Okta - User Investigation
outputs:
- contextPath: PermanentCountry
  description: True if the user work from a permanent country. False if else.
  type: unknown
- contextPath: UserDevices
  description: Devices used by the user.
  type: unknown
- contextPath: NumOfOktaSuspiciousActivities
  description: Number of Suspicious Activities for the user.
  type: unknown
- contextPath: ' SuspiciousUserActivities'
  description: Suspicious Activities for the user.
  type: unknown
- contextPath: NumOfOktaSuspiciousUserAgent
  description: Number of Suspicious User Agent.
  type: unknown
- contextPath: SuspiciousUserAgent
  description: Suspicious User Agent.
  type: unknown
- contextPath: UserApplication
  description: ' Applications used by the user.'
  type: unknown
- contextPath: NumOfOktaFailedLogon
  description: Number of failed login.
  type: unknown
- contextPath: NumOfFailedLogonASN
  description: Number of failed login from ASN by all users.
  type: unknown
- contextPath: LogonCountries
  description: The countries from which the user logged in.
  type: unknown
quiet: true
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cd99ae77-4afb-4247-8428-f03e7108b363
      iscommand: false
      name: ""
      version: -1
    taskid: cd99ae77-4afb-4247-8428-f03e7108b363
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 600,
          "y": -880
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bb352d99-3d2e-4ae2-8b9b-4ecb8e2a970c
      iscommand: false
      name: Permanent Location Check
      type: title
      version: -1
    taskid: bb352d99-3d2e-4ae2-8b9b-4ecb8e2a970c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 825
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Okta v2
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.UserEmail
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "9"
      - "33"
      - "38"
      - "41"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if Okta V2 integration enabled and the user email is defined.
      id: 45411a85-7b8b-41fa-86a7-5024cdf8ee49
      iscommand: false
      name: Is Okta V2 integration enabled and the user email is defined?
      type: condition
      version: -1
    taskid: 45411a85-7b8b-41fa-86a7-5024cdf8ee49
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 600,
          "y": 75
        }
      }
  "4":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.LoginCountry
                transformers:
                - args:
                    country_code:
                      iscontext: true
                      value:
                        simple: inputs.LoginCountry
                    country_name: {}
                  operator: ConvertCountryCodeCountryName
          operator: in
          right:
            iscontext: true
            value:
              complex:
                root: LogonCountries
                transformers:
                - operator: uniq
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "6"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the user work from a permanent country
      id: df7a7cad-4048-4344-8c25-e59d5ce8d039
      iscommand: false
      name: The user work from a permanent country?
      type: condition
      version: -1
    taskid: df7a7cad-4048-4344-8c25-e59d5ce8d039
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 1300
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: PermanentCountry
      value:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: caa1ca90-1d98-4c03-81b1-75dec09b999f
      iscommand: false
      name: Set not a permanent country
      script: Set
      type: regular
      version: -1
    taskid: caa1ca90-1d98-4c03-81b1-75dec09b999f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 1475
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: PermanentCountry
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 58937974-7092-483c-8523-a209933add86
      iscommand: false
      name: Set permanent country
      script: Set
      type: regular
      version: -1
    taskid: 58937974-7092-483c-8523-a209933add86
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 1475
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3a7de498-117e-4882-8795-33c1743e8a0b
      iscommand: false
      name: Suspicious activity Search
      type: title
      version: -1
    taskid: 3a7de498-117e-4882-8795-33c1743e8a0b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 265
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: OktaSuspiciousActivities=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (eventType eq "user.mfa.attempt_bypass"
          or eventType eq "user.account.reset_password" and outcome.result eq "FAILURE"
          and outcome.reason eq "User answered recovery question invalid")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: |-
        Link to Okta suspicious activity events list:
        https://help.okta.com/oie/en-us/Content/Topics/Reports/suspicious-activity-report.htm
      id: 80cfc361-dfd8-4195-89d1-2b003e741f23
      iscommand: true
      name: Check for suspicious activities
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 80cfc361-dfd8-4195-89d1-2b003e741f23
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -180,
          "y": 420
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: OktaSuspiciousActivities
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "14"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 7f21a137-9c1a-4d38-8491-81bf80ba9f9b
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 7f21a137-9c1a-4d38-8491-81bf80ba9f9b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -180,
          "y": 585
        }
      }
  "14":
    continueonerror: true
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: OktaSuspiciousActivities
      contextKey:
        simple: NumOfOktaSuspiciousActivities
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 4fba2bf2-09f0-4ce9-894d-7512bf8d9d56
      iscommand: false
      name: Count Okta Suspicious activity
      script: CountArraySize
      type: regular
      version: -1
    taskid: 4fba2bf2-09f0-4ce9-894d-7512bf8d9d56
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -180,
          "y": 810
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: OktaUserAgentLogs=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (client.userAgent.rawUserAgent
          co "python" or client.userAgent.rawUserAgent co "curl"  or client.userAgent.rawUserAgent
          co "axios" or client.userAgent.rawUserAgent co "httpie" or client.userAgent.rawUserAgent
          co "wget")
      ignore-outputs:
        simple: "true"
      limit:
        simple: "5"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs by providing optional filters.
      id: 66dd97fd-c5b8-40d3-8f97-3cbf81c10980
      iscommand: true
      name: Check for suspicious user agent access app
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 66dd97fd-c5b8-40d3-8f97-3cbf81c10980
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 270,
          "y": 420
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: OktaUserAgentLogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "17"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 31211bca-118e-40f2-891f-9a24bfb551a1
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 31211bca-118e-40f2-891f-9a24bfb551a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 270,
          "y": 585
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: OktaUserAgentLogs
      contextKey:
        simple: NumOfOktaSuspiciousUserAgent
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 0d112b15-5b99-4fcd-873d-3a3a9aaac40e
      iscommand: false
      name: Count Okta Suspicious User Agent
      script: CountArraySize
      type: regular
      version: -1
    taskid: 0d112b15-5b99-4fcd-873d-3a3a9aaac40e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 270,
          "y": 810
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1acf6ae5-e83f-4695-8da6-5dd457df5f06
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1acf6ae5-e83f-4695-8da6-5dd457df5f06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 600,
          "y": 1660
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3698725d-cf0f-473e-8926-8082fb0825b3
      iscommand: false
      name: Device Search
      type: title
      version: -1
    taskid: 3698725d-cf0f-473e-8926-8082fb0825b3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2250,
          "y": 820
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 2
    scriptarguments:
      contextKey:
        simple: CurrentTime
      dateFormat:
        simple: ISO
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: cb0f2304-b7c0-474d-8159-3d2be2d54c0b
      iscommand: false
      name: Get current time
      script: GetTime
      type: regular
      version: -1
    taskid: cb0f2304-b7c0-474d-8159-3d2be2d54c0b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": -600
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 2
    scriptarguments:
      contextKey:
        simple: TimeLast1Day
      dateFormat:
        simple: ISO
      daysAgo:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 222c9b2e-ccd3-46ae-8d74-17fc6eb82454
      iscommand: false
      name: Get time 1 day ago
      script: GetTime
      type: regular
      version: -1
    taskid: 222c9b2e-ccd3-46ae-8d74-17fc6eb82454
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": -420
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 2
    scriptarguments:
      contextKey:
        simple: TimeLast1Week
      dateFormat:
        simple: ISO
      daysAgo:
        simple: "7"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 67525eaa-a9c3-4582-821a-4afd9948994a
      iscommand: false
      name: Get time 7 days ago
      script: GetTime
      type: regular
      version: -1
    taskid: 67525eaa-a9c3-4582-821a-4afd9948994a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": -240
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2710a4db-f66c-4934-8e19-d6d175901b72
      iscommand: false
      name: Okta User Investigation
      type: title
      version: -1
    taskid: 2710a4db-f66c-4934-8e19-d6d175901b72
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 600,
          "y": -70
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: UserDevices
      value:
        complex:
          accessor: device
          root: LogonLogs.client
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9c77ceef-3cdd-499b-8c32-e5d880566edf
      iscommand: false
      name: Set the Devices used by the user
      script: Set
      type: regular
      version: -1
    taskid: 9c77ceef-3cdd-499b-8c32-e5d880566edf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2250,
          "y": 960
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 46e34908-9c66-4237-81ba-eff267880308
      iscommand: false
      name: Application Search
      type: title
      version: -1
    taskid: 46e34908-9c66-4237-81ba-eff267880308
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 825
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: LogonLogs=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (eventType eq "user.authentication.sso"
          and outcome.result eq "SUCCESS" or eventType eq "user.authentication.auth"
          and outcome.result eq "SUCCESS")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1WeekTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs by providing optional filters.
      id: 62dd7273-0d11-49dd-884f-7376f905f5f8
      iscommand: true
      name: Get Successful logon logs
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 62dd7273-0d11-49dd-884f-7376f905f5f8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 420
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: LogonLogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "27"
      - "1"
      - "19"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 0041246d-5e88-41b0-8d34-fdd1f164b927
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 0041246d-5e88-41b0-8d34-fdd1f164b927
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 600
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: UserApplication
      value:
        complex:
          accessor: displayName
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: LogonLogs.target.type
              operator: isEqualString
              right:
                value:
                  simple: AppInstance
          root: LogonLogs.target
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b7271f0d-5d5a-48f3-8903-6529d8e8110a
      iscommand: false
      name: Set the Application used by the user
      script: Set
      type: regular
      version: -1
    taskid: b7271f0d-5d5a-48f3-8903-6529d8e8110a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1040,
          "y": 960
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: ' SuspiciousUserAgent'
      value:
        complex:
          accessor: rawUserAgent
          root: OktaUserAgentLogs.client.userAgent
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 3381ed86-2f8f-4cd6-8746-3eb867d67102
      iscommand: false
      name: Set Okta Suspicious User Agent
      script: Set
      type: regular
      version: -1
    taskid: 3381ed86-2f8f-4cd6-8746-3eb867d67102
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 270,
          "y": 975
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: ' SuspiciousUserActivities'
      value:
        complex:
          accessor: displayMessage
          root: OktaSuspiciousActivities
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 3826aebf-3833-4575-8992-6627102fd132
      iscommand: false
      name: Set Okta Suspicious User Activities
      script: Set
      type: regular
      version: -1
    taskid: 3826aebf-3833-4575-8992-6627102fd132
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -180,
          "y": 975
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dc1f4b9d-9baa-461e-82a4-88370a100652
      iscommand: false
      name: Failed logon Search
      type: title
      version: -1
    taskid: dc1f4b9d-9baa-461e-82a4-88370a100652
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -820,
          "y": 265
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: OktaFailedLogonLogs=
      filter:
        simple: actor.alternateId eq "${inputs.UserEmail}" and (eventType eq "user.authentication.sso"
          and outcome.result eq "FAILURE" or eventType eq "user.authentication.auth"
          and outcome.result eq "FAILURE")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs on failed logon events.
      id: 60f59adf-a233-4d7f-87ee-43d559400184
      iscommand: true
      name: Search for failed logon attempts using OKTA
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 60f59adf-a233-4d7f-87ee-43d559400184
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -820,
          "y": 420
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: OktaFailedLogonLogs
      contextKey:
        simple: NumOfOktaFailedLogon
      ignore-outputs:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: c021863b-857c-454b-8773-52728869bf46
      iscommand: false
      name: Count Okta failed logon
      script: CountArraySize
      type: regular
      version: -1
    taskid: c021863b-857c-454b-8773-52728869bf46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -620,
          "y": 805
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: OktaFailedLogonLogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "40"
      "yes":
      - "35"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta
      id: 9ca75b6a-4c9f-44dd-8476-97ff2f499c6e
      iscommand: false
      name: Found results from Okta?
      type: condition
      version: -1
    taskid: 9ca75b6a-4c9f-44dd-8476-97ff2f499c6e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -820,
          "y": 585
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2126e24-e834-4c30-8d6c-4c9644825c07
      iscommand: false
      name: Time Calculation
      type: title
      version: -1
    taskid: f2126e24-e834-4c30-8d6c-4c9644825c07
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 600,
          "y": -740
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b5d4215-d639-41b4-8f2f-bbc2238c47f1
      iscommand: false
      name: Successful Logon Search
      type: title
      version: -1
    taskid: 1b5d4215-d639-41b4-8f2f-bbc2238c47f1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 265
        }
      }
  "39":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.LoginCountry
          operator: isNotEmpty
          right:
            value: {}
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.LoginCountry
          operator: isNotEqualString
          right:
            value:
              simple: Unknown
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "4"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the login country is defined.
      id: 1ac922e4-2893-48be-8e9c-ee8965499f20
      iscommand: false
      name: Check if the login country is defined
      type: condition
      version: -1
    taskid: 1ac922e4-2893-48be-8e9c-ee8965499f20
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 1125
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: NumOfOktaFailedLogon
      value:
        simple: "0"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 25a5abbc-d30d-4012-8acf-75488d58aed8
      iscommand: false
      name: Set Number Of Okta Failed Logon to Zero
      script: Set
      type: regular
      version: -1
    taskid: 25a5abbc-d30d-4012-8acf-75488d58aed8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1020,
          "y": 805
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 13072b32-dac0-4c4d-8c5a-cc0b5de7d1a0
      iscommand: false
      name: Failed Logon from ASN Search
      type: title
      version: -1
    taskid: 13072b32-dac0-4c4d-8c5a-cc0b5de7d1a0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 265
        }
      }
  "42":
    continueonerror: true
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 2
    scriptarguments:
      extend-context:
        simple: ASNfailedlogs=
      filter:
        simple: securityContext.asNumber eq "${inputs.ASN}" and (eventType eq "user.authentication.sso"
          and outcome.result eq "FAILURE" or eventType eq "user.authentication.auth"
          and outcome.result eq "FAILURE")
      ignore-outputs:
        simple: "true"
      retry-count:
        simple: "6"
      retry-interval:
        simple: "10"
      since:
        complex:
          root: TimeLast1DayTimeNow
          transformers:
          - operator: LastArrayElement
      until:
        complex:
          root: CurrentTimeTimeNow
          transformers:
          - operator: LastArrayElement
    separatecontext: false
    skipunavailable: true
    task:
      brand: Okta v2
      description: Gets logs by providing optional filters.
      id: 256398af-e248-438b-8e7a-c72f9c238635
      iscommand: true
      name: Check for all failed logon from ASN
      script: Okta v2|||okta-get-logs
      type: regular
      version: -1
    taskid: 256398af-e248-438b-8e7a-c72f9c238635
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 610
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 2
    scriptarguments:
      array:
        complex:
          root: ASNfailedlogs
      contextKey:
        simple: NumOfFailedLogonASN
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Count an array size
      id: 59d70330-75bc-4ff7-8558-c57b4e6c4a8a
      iscommand: false
      name: Count failed logon from ASN
      script: CountArraySize
      type: regular
      version: -1
    taskid: 59d70330-75bc-4ff7-8558-c57b4e6c4a8a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 1035
        }
      }
  "44":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: displayMessage
                root: ASNfailedlogs
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "43"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta.
      id: b4510d1e-8338-40f9-856d-1e08db99747a
      iscommand: false
      name: Does the result from Okta exist?
      type: condition
      version: -1
    taskid: b4510d1e-8338-40f9-856d-1e08db99747a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 815
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ASN
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "42"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are results from Okta.
      id: bb29f22a-c8db-4192-8345-462cb2453443
      iscommand: false
      name: Does the ASN is defined?
      type: condition
      version: -1
    taskid: bb29f22a-c8db-4192-8345-462cb2453443
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1480,
          "y": 430
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 2
    scriptarguments:
      key:
        simple: LogonCountries
      value:
        complex:
          accessor: country
          root: LogonLogs.client.geographicalContext
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7b87796a-14dc-4b4c-8840-5080191f1ee6
      iscommand: false
      name: Set the country from which the user logged in
      script: Set
      type: regular
      version: -1
    taskid: 7b87796a-14dc-4b4c-8840-5080191f1ee6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 960
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_18_#default#": 0.16,
      "16_18_#default#": 0.22,
      "29_18_#default#": 0.53,
      "2_18_#default#": 0.16,
      "2_41_yes": 0.9,
      "36_35_yes": 0.47,
      "36_40_#default#": 0.47,
      "39_18_#default#": 0.16,
      "39_4_yes": 0.44,
      "44_18_#default#": 0.1,
      "44_43_yes": 0.58,
      "45_18_#default#": 0.1,
      "45_42_yes": 0.49
    },
    "paper": {
      "dimensions": {
        "height": 2605,
        "width": 4110,
        "x": -1480,
        "y": -880
      }
    }
  }
